.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-wrapper {
	padding-top: 25px;
	padding-left: 10px;
}

@media screen and (min-width: 768px) {
	.outer {
		display: table;
		height: 100vh;
		width: 100vw;
	}

	.inner {
		display: table-cell;
		vertical-align: middle;
	}
}