.button-wrapper {
	margin-top: 20px;
}

@media screen and (min-width: 768px) {
	.outer {
		display: table;
		height: 100vh;
		width: 100vw;
	}

	.inner {
		display: table-cell;
		vertical-align: middle;
	}
}