.edit-stats {
	border: 0;
	background: white;
	font-size: 3vw;
}


@media screen and (min-width: 768px) {
	.edit-stats-link-container {
		text-align: center;
	}

	.edit-stats {
		font-size: 1.5vw;
	}
}