.expense-field {
	font-size: 5vw;
}

.expense-field, .expenses-form-input {
 	display: block;
 }

.expenses-form-input {
	border: 0.5px solid grey;
	height: 5vh;
	width: 50%;
}

.submit-expense {
	border: 0;
	height: 5vh;
}

@media screen and (min-width: 768px) {
	.expense-field {
		font-size: 2vw;
	}	

	.expenses-form-input {
		border: 0.5px solid grey;
		height: 5vh;
		width: 25%;
	}
}
